button {
	cursor: pointer;
	border: none;
	border-radius: 8px;
}

.box__buttons {
	background: $firstCalcBackground;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: stretch;
	align-items: center;
	border-radius: 8px;
	grid-gap: 10px 20px;
	padding: 30px 35px;
	width: 30vw;
	height: 50vh;

	.clear__all,
	.clear {
		color: $signs;
		background: $firstDarkBackground;
		border-bottom: 3px solid $firstDarkShadow;
		font-size: 30px;
		height: 55px;
	}

	.number,
	.addition__operator,
	.subtraction__operator,
	.division__operator,
	.multiplication__operator,
	.decimal {
		background: $firstLightBackground;
		color: $num;
		border-bottom: 3px solid $firstLightShadow;
		font-size: 35px;
		height: 55px;
	}

	.equal__sign {
		background: $firstToggleBackground;
		color: $signs;
		border-bottom: 3px solid $firstToggleShadow;
		font-size: 30px;
		height: 55px;
	}

	.calculator__screen {
		grid-column-start: 1;
		grid-column-end: 5;
	}

	.clear__all {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.equal__sign {
		grid-column-start: 3;
		grid-column-end: 5;
	}
}

// Active

.equal__sign:active {
	background: $firstToggleActive;
}

.number:active,
.addition__operator:active,
.subtraction__operator:active,
.division__operator:active,
.multiplication__operator:active,
.decimal:active {
	background: $firstLightActive;
}

.clear:active,
.clear__all:active {
	background: $firstDarkActive;
}
