button {
	cursor: pointer;
	border: none;
	border-radius: 8px;
}

.box__buttons {
	background: $firstCalcBackground;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: stretch;
	align-items: center;
	border-radius: 8px;
	grid-gap: 10px 20px;
	padding: 30px 35px;
	width: 30vw;
	height: 50vh;

	.delete,
	.clear {
		color: $signs;
		background: $firstDarkBackground;
		border-bottom: 3px solid $firstDarkShadow;
		font-size: 30px;
		height: 55px;
	}

	.number,
	.addition,
	.subtraction,
	.division,
	.multiplication,
	.decimal {
		background: $firstLightBackground;
		color: $num;
		border-bottom: 3px solid $firstLightShadow;
		font-size: 35px;
		height: 55px;
	}

	.equal {
		background: $firstToggleBackground;
		color: $signs;
		border-bottom: 3px solid $firstToggleShadow;
		font-size: 30px;
		height: 55px;
	}

	.calculator__screen {
		grid-column-start: 1;
		grid-column-end: 5;
	}

	.clear {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.equal {
		grid-column-start: 3;
		grid-column-end: 5;
	}
}

// Active

.equal:active {
	background: $firstToggleActive;
}

.number:active,
.addition:active,
.subtraction:active,
.division:active,
.multiplication:active,
.decimal:active {
	background: $firstLightActive;
}

.delete:active,
.clear:active {
	background: $firstDarkActive;
}
