.calculatorBox {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	width: 40vw;

	.calculatorScreen {
		overflow: auto;
		background: $screenBackground1;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		height: 20vh;
		border: none;
		border-radius: 5px;
		margin-bottom: 25px;
		padding: 10px 20px 10px 0;

		.previousResult {
			display: flex;
			align-items: flex-end;
			text-align: right;
			background: none;
			border: none;
			color: $result1;

			p {
				font-size: 55px;
			}
		}

		.mathSign {
			display: flex;
			align-items: flex-end;
			color: $result1;
			font-size: 30px;
			padding: 0 10px 20px 10px;
		}

		.currentResult {
			display: flex;
			align-items: flex-end;
			text-align: right;
			background: none;
			border: none;
			font-size: 55px;
			color: $result1;

			p {
				font-size: 55px;
			}
		}
	}
}
