.calc__box {
	background: $firstBackground;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	.box__screen {
		background: $firstScreenBackground;
		align-items: center;
		height: 15vh;
		border: none;
		border-radius: 5px;
		margin-bottom: 25px;

		.screen__result {
			text-align: right;
			background: none;
			border: none;
			font-size: 50px;
			color: $signs;
		}
	}
}
