.calculatorBox {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	.calculatorScreen {
		overflow: auto;
		background: $screenBackground1;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		height: 20vh;
		border: none;
		border-radius: 5px;
		margin-bottom: 25px;

		.previousResult {
			padding-top: 10px;
			padding-right: 20px;
			text-align: right;
			background: none;
			border: none;
			color: $result1;

			p {
				width: 30vw;
				margin: auto;
				overflow: scroll;
				font-size: 50px;
			}
		}

		.currentResult {
			overflow: scroll;
			padding-right: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: right;
			background: none;
			border: none;
			font-size: 50px;
			color: $result1;

			p {
				width: 30vw;
				margin: auto;
				overflow: scroll;
				font-size: 50px;
			}
		}
	}
}
