// Backgrounds

$bodyBackground: hsl(222, 26%, 31%);
$calcBackground: hsl(223, 31%, 20%);
$screenBackground: hsl(224, 36%, 15%);

// Keys

$darkBackground: hsl(225, 21%, 49%);
$darkShadow: hsl(224, 28%, 35%);

$toggleBackground: hsl(6, 63%, 50%);
$toggleShadow: hsl(6, 70%, 34%);

$lightBackground: hsl(30, 25%, 89%);
$lightShadow: hsl(28, 16%, 65%);

// Text

$nums: hsl(221, 14%, 31%);
$signs: hsl(0, 0%, 100%);
