.two {
	background: $secondBackground;

	.toggle {
		.activeToggle {
			background: $secondCalcBackground;
		}
	}

	.calculatorButtons {
		background: $secondCalcBackground;

		.clear,
		.delete {
			color: $secondSigns;
			background: $secondDarkBackground;
			border-bottom: 3px solid $secondDarkShadow;
		}

		.number,
		.addition,
		.subtraction,
		.division,
		.multiplication,
		.decimal {
			background: $secondLightBackground;
			color: $secondNum;
			border-bottom: 3px solid $secondLightShadow;
		}

		.equal {
			background: $secondToggleBackground;
			color: $secondSigns;
			border-bottom: 3px solid $secondToggleShadow;
		}
	}
	.calculatorBox {
		background: $secondBackground;

		.calculatorScreen {
			background: $secondScreenBackground;

			.calculatorButtons {
				color: $secondNum;
			}
			// .screen__result {
			// 	color: $secondNum;
			// }
		}
	}

	.equal:active {
		background: $secondToggleActive;
	}

	.number:active,
	.addition:active,
	.subtraction:active,
	.division:active,
	.multiplication:active,
	.decimal:active {
		background: $secondSigns;
	}

	.delete:active,
	.clear:active {
		background: $secondDarkActive;
	}
}
