.two {
	background: $bodyBackground2;

	.toggle {
		.activeToggle {
			background: $buttonsBackground2;
		}
	}

	.calculatorButtons {
		background: $buttonsBackground2;

		.clear,
		.delete {
			color: $sign2;
			background: $resetBackground2;
			border-bottom: 3px solid $resetShadow2;
		}

		.number,
		.addition,
		.subtraction,
		.division,
		.multiplication,
		.decimal {
			background: $numbersBackground2;
			color: $num2;
			border-bottom: 3px solid $numbersShadow2;
		}

		.equal {
			background: $equalBackground2;
			color: $sign2;
			border-bottom: 3px solid $equalShadow2;
		}
	}
	.calculatorBox {
		.calculatorScreen {
			background: $screenBackground2;
			p {
				color: $result2;
			}

			.calculatorButtons {
				color: $num2;
			}
		}
	}

	.equal:active {
		background: $equalActive2;
	}

	.number:active,
	.addition:active,
	.subtraction:active,
	.division:active,
	.multiplication:active,
	.decimal:active {
		background: $numbersActive2;
	}

	.delete:active,
	.clear:active {
		background: $resetActive2;
	}
}
