@import "colors.scss";
@import "buttons.scss";
@import "header.scss";
@import "calculator.scss";
@import "secondTheme.scss";
@import "thirdTheme.scss";

* {
	font-family: "League Spartan", sans-serif;
}
body {
	background: $firstBackground;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5vh 0;

	h1 {
		margin: 0;
		font-size: 30px;
		color: $signs;
	}

	h2,
	p {
		margin: 0;
		font-size: 13px;
		color: $signs;
	}
}

@media screen and (max-device-width: 700px) {
	.calculatorButtons {
		width: 60vw;
		height: 40vh;
		padding: 25px;
		grid-gap: 0 15px;

		.number,
		.delete,
		.addition,
		.subtraction,
		.decimal,
		.division,
		.multiplication,
		.clear,
		.equal {
			height: 35px;
			font-size: 25px;
		}
	}
	.themeSwitch {
		h1 {
			font-size: 23px;
		}
		h2, p {
			font-size: 12px;
		}
		.activeToggle {
			height: 10px;

			.toggleButton1,
			.toggleButton2,
			.toggleButton3 {
				width: 15px;
				height: 15px;
			}
		}
	}
}

@media screen and (min-device-width: 1440) {
	.calculatorButtons {
		width: 30vw;
		height: 77vh;
		grid-gap: 0 20px;

		.number,
		.delete,
		.addition,
		.subtraction,
		.decimal,
		.division,
		.multiplication,
		.clear,
		.equal {
			height: 80px;
		}
	}
}
