@import "colors.scss";
@import "buttons.scss";
@import "header.scss";
@import "calculator.scss";

body {
	background: $firstBackground;
	font-family: "League Spartan", sans-serif;

	h1 {
		margin: 0;
		font-size: 30px;
		color: $signs;
	}

	h2,
	p {
		margin: 0;
		font-size: 13px;
		color: $signs;
	}
}
