@import "colors.scss";
@import "buttons.scss";
@import "header.scss";
@import "calculator.scss";
@import "secondTheme.scss";
@import "thirdTheme.scss";

* {
	font-family: "League Spartan", sans-serif;
}
body {
	background: $firstBackground;
	display: flex;
	align-items: center;
	justify-content: center;

	h1 {
		margin: 0;
		font-size: 30px;
		color: $signs;
	}

	h2,
	p {
		margin: 0;
		font-size: 13px;
		color: $signs;
	}
}

