.three {
	background: $bodyBackground3;

	.toggle {
		.activeToggle {
			background: $calcBackground3;
		}
	}

	.calculatorButtons {
		background: $calcBackground3;

		.clear,
		.delete {
			color: $resetColor;
			background: $resetBackground3;
			border-bottom: 3px solid $resetShadow3;
		}

		.number,
		.addition,
		.subtraction,
		.division,
		.multiplication,
		.decimal {
			background: $numbersBackground3;
			color: $num3;
			border-bottom: 3px solid $numbersShadow3;
		}

		.equal {
			color: $num3;
			background: $equalBackground3;
			border-bottom: 3px solid $equalShadow3;
		}
	}
	.calculatorBox {
		background: $bodyBackground3;

		.calculatorScreen {
			background: $screenBackground3;
			p {
				color: $num3;
			}
			.calculatorButtons {
				color: $num3;
			}
		}
	}

	.equal:active {
		background: $equalActive3;
	}

	.number:active,
	.addition:active,
	.subtraction:active,
	.division:active,
	.multiplication:active,
	.decimal:active {
		background: $numbersActive3;
	}

	.delete:active,
	.clear:active {
		background: $resetActive3;
	}
}
