.three {
	background: $thirdBackground;

	.toggle {
		.active__toggle {
			background: $thirdCalcBackground;
		}
	}

	.box__buttons {
		background: $thirdCalcBackground;

		.clear,
		.delete {
			color: $thirdSigns;
			background: $thirdDarkBackground;
			border-bottom: 3px solid $thirdLightBackground;
		}

		.number,
		.addition,
		.subtraction,
		.division,
		.multiplication,
		.decimal {
			background: $thirdToggleShadow;
			color: $thirdNum;
			border-bottom: 3px solid $thirdLightBackground;
		}

		.equal {
			background: $thirdDarkShadow;
			color: $thirdClear;
			border-bottom: 3px solid $thirdDarkActive;
		}
	}
	.calc__box {
		background: $thirdBackground;

		.box__screen {
			background: $thirdCalcBackground;

			.calculator__screen {
				color: $thirdNum;
			}

			.screen__result {
				color: $thirdNum;
			}
		}
	}

	.equal:active {
		background: $thirdDarkActive;
	}

	.number:active,
	.addition:active,
	.subtraction:active,
	.division:active,
	.multiplication:active,
	.decimal:active {
		background: $thirdLightActive;
	}

	.delete:active,
	.clear:active {
		background: $thirdToggleActive;
	}
}
